body {
  font-family: sans-serif;
}

input {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 300px;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: #222
}

button {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #999;
  border: none;
}

button:hover {
  background-color: slategray;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.autocomplete {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 200px;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: slategray;
  color: black;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}